<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net48" />
  <package id="ESOES.AvalonDock" version="2.1.0" targetFramework="net48" />
  <package id="ESOES.Prism" version="5.0.0" targetFramework="net48" />
  <package id="Itb.Controls" version="1.0.0" targetFramework="net48" />
  <package id="Itb.Controls.TaskDialog" version="1.0.0" targetFramework="net48" />
  <package id="Itb.Core" version="1.2.2" targetFramework="net48" />
  <package id="Itb.Mvvm" version="1.0.0" targetFramework="net48" />
</packages>